streamlit
streamlit-authenticator
pyyaml
bcrypt
langchain
langgraph
chromadb
openai
pypdf2
pypdf
python-docx
pandas
rank_bm25
sentence-transformers
python-dotenv
llama-index
langchain_experimental
langchain_openai
docx2txt
openpyxl
xlrd
einops
agentic-doc
docx2pdf
faiss-cpu